---
layout: page
title: About
permalink: /about/
---

<!--members-->
<div id="members-container">
    <h2>Members</h2>

    {% for member in site.members %}
    <div id="{{member.identifier}}" class="member card">
        <h4>{{member.fullname}}</h4>
        {% if member.website %}
            <p>Website: <a href="{{member.website}}">{{member.website}}</a></p>
        {% endif %}

        <div class="row">
            <!--profile pic-->
            <div class="col-md-4">

            </div>

            <!--bio-->
            <div class="col-md-8">
                {% if member.bio %}
                    <div class="card-text">
                        <p>{{member.bio}}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <hr/>
    {% endfor %}

    <h2>The Wider Network..</h2>
    <p>
        We have a wider membership of developers in the North East with a range of skills.
        On top of this we have partner co-ops in London and across France, and we are well-connected
        with other software development companies in Newcastle, who we can collaborate with
        on projects.
    </p>
</div>