---
layout: page
noPageTitle: true
---

<!--Who we are, what we do-->
<div class="section">
    <h2>What we do..</h2>
    <p>
        We are a network of freelance software developers based in the North East.
    </p>
    <p>
        We bridge the gap between freelancers and the businesses that need them.
    </p>
    <p>
        We are flexible and manage new projects, adapt existing codebases and provide
        contracting services to address temporary skills and capacity shortages.
    </p>
    <p>
        We seek to build long-term partnerships with our clients and have designed our
        processes to put quality control first.
    </p>
    <p>
        To discuss requirements, or seek a consultation, please <a href="{{ '/contact' | prepend: site.baseurl }}">get in touch</a>.
    </p>
</div>

<!--co-op-->
<div class="section">
    <!--text content-->
    <h2>Our Structure</h2>

    <p>
        We are a non-profit service co-operative, meaning that our members own equal
        shares in the venture and Code-Operative's commission is only ever enough to
        cover operational costs. This means our members can enjoy the benefits of
        collaboration whilst retaining the benefits of being self employed.
        Our commission is charged as a {{site.commission_rate}} fee for both the client and freelancer
    </p>

    <!--membership logos-->
    {% include membership.html %}
</div>

<!--our clients & projects-->
<div class="section">
    <h2>Our Clients</h2>

    <!--clients carousel-->
    <div id="client-carousel" class="autoplay">
        {% for client in site.clients %}
            <div class="client-img"><img src="{{ client.image_source | absolute_url }}" alt="{{client.title}} logo"/></div>
        {% endfor %}
    </div>
</div>

<!--our partners-->
<div class="section">
    <h2>Paris. London. Gateshead</h2>

    <p>
        We are part of a growing community of European co-ops, and have close relationships
        with various organisations in the UK and beyond
    </p>

    {% for partner in site.partners %}
    <div class="row partner">

        <!--<h4 class="partner-title"><a href="{{partner.website}}">{{partner.name}}</a></h4>-->

        <!--logo-->
        <div class="col-sm-6 col-md-5 col-lg-4">
            <div class="row">
                <div class="col text-center">
                    <img class="partner-logo" src="{{ partner.image_source | absolute_url }}" alt="{{partner.image_alt}}"></img>
                </div>
            </div>
        </div>

        <!--description-->
        <div class="col-sm-6 col-md-7 col-lg-8">
            <p class="partner-desc">
                {{partner.description}}
            </p>
        </div>
    </div>
    {% endfor %}
</div>

<hr/>
