<footer>
    <div class="container" id="footer-container">
        <h3 class="contact-title">Contact</h3>
        <div class="row">
        <div class="col-sm-6">
            <p>Email: {{ site.email }}</p>
            <p>Twitter: <a href="https://twitter.com/code_operative">@code_operative</a></p>
        </div>
        <div class="col-sm-6">
            <p><a href="https://github.com/Code-Operative">GitHub</a></p>
        </div>
        </div>
    <hr/>
    <div class="footer-legals">
        <p id="copyright">
            &#169; Code Operative Limited 2018. All Rights Reserved.
        </p>
        <p>
            <a href="https://beta.companieshouse.gov.uk/company/11692132">Code-Operative Limited is a limited company registered in England and Wales</a> with company number 11692132
        </p>
        <p>
            Registered office at: Baltic Business Quarters, Abbott's Hill, Gateshead, United Kingdom, NE8 3DF
        </p>
    </div>
    </div>
</footer>