$content-width: 800px;
$main: #19CCAA;
$font-style: 'Rubik', sans-serif;
$impact-font-style: 'Patua One', cursive;
$font-color: #262626;
$link-color: #6668eb;
$link-hover-color: #9aadf2;
$link-visited-color: #6668eb;
$header-link-color: #90c1df;
$main-heading-font: $impact-font-style;
$main-heading-color: #2bb5fe;
$secondary-heading-color: #c4e5fa;
$header:  #5d1e90;
$header-height: 50vh;
//$header-width: 1280px;
$heading-font: 'Rubik', sans-serif;
$heading-font-color: #262626;
$light: #E7EDF4;

$tag-bg: #c2b3e1;
$tag-bg-active: #d7cdec;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
