
body {
    width: 100vw;
    margin: 0;
    color: $font-color;
    font-family: $font-style;
    font-size: 1.1em;
	line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

#container {
    max-width: 100%;
}

h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}

a {
	color: $link-color;
	text-decoration: none;
	//font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
a:active {
  color: $link-hover-color;
}
a:visited {
  color: $link-visited-color;
}

main {
    padding: 0 15px;
    margin: 0 auto;
}

.text-centre {
    text-align: center;
}

/*
*   HEADER.HTML
*/

.navbar-toggler {
    background-color: $light;
}

header {
    //max-width: $header-width;
    background-color: $header;
    /*background-image: url("/assets/img/logo/header.png");
    background-repeat: no-repeat;
    background-position: center;*/
    padding: 0px 15px;
    text-align: center;
    height: $header-height;
    display: flex;
	justify-content: center;
	align-items: center;
}

.main-heading-text {
    color: $main-heading-color;
    //text-shadow: 4px 4px 2px black;
    font-family: $main-heading-font;
    font-size: 64px;
}

.highlight-text {
    color: $secondary-heading-color;
}

.nav-item {
    padding-right: 13px;
}

.nav-item a {
    font-family: $font-style;
    color: $header-link-color;
    //text-shadow: 3px 3px 2px black;
    font-size: 24px;
}

.nav-item a:hover {
    text-decoration: none;
}

//font-size can cause display issues with smaller width devices
@media screen and (min-width: 400px) and (max-width: 499px) {
    .main-heading-text {
        font-size: 48px;
    }

    .nav-item a {
        font-size: 18px;
    }
}
@media screen and (min-width: 300px) and (max-width: 399px) {
    .main-heading-text {
        font-size: 40px;
    }

    .nav-item a {
        font-size: 18px;
    }
}
@media screen and (max-width: 300px) {
    .main-heading-text {
        font-size: 32px;
    }

    .nav-item a {
        font-size: 18px;
    }
}

/*
*   Logos
*/
.coopsuklogo {
    margin-top: 20px;
}

.partner-logos {
    margin-top: 20px;
}

/*
*     FOOTER.HTML
*/
.footer-legals {
    font-size: 12px;
}

/*
*     PAGE.HTML
*/
.page-title, .contact-title {
    text-align: center;
    font-family: $main-heading-font !important;
    margin-top: 20px;
    margin-bottom: 10px;
}

.page-content-container {
    width: 80vw;
    margin: auto;
}

.page-content-container hr {
    width: 80vw;
}

/*
*   INDEX.HTML
*/

.section {
    margin-top: 40px;
    margin-bottom: 20px;
}

.partner-title {
    text-align: center;
}

.partner-logo {
    margin: auto;
}

.partner-desc {
    padding-left: 20px;
}

//smaller device logo display
/*@media screen and (max-width: 976px) {
    .partner-logo {
        margin-left: 5px;
        float: left;
    }
}*/

/*
*   ABOUT.HMTL
*/

.member {
    padding: 10px;
}

.profile-pic {
    max-width: 95%;
}

/*
*   JOIN.HTML
*/

.impact-font {
    font-family: $impact-font-style;
}

.section h3, .section h4 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.list-col-2 ul li {
    margin-bottom: 15px;
}